/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(180deg, #102b5e, #4a7cd3);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 80px;
    color: #333;
}

/* Container */
.container {
    background: #fff;
    width: 90%;
    max-width: 420px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    padding: 25px;
    animation: fadeIn 0.8s ease;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    color: #1e3c72;
    margin-bottom: 20px;
}

/* Input area */
.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px 14px;
    border: 2px solid #1e3c72;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.3s;
}

#taskInput:focus {
    outline: none;
    border-color: #2a5298;
    box-shadow: 0 0 5px rgba(30, 60, 114, 0.3);
   }

#addBtn {
    background: #1e3c72;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

#addBtn:hover {
    background: #2a5298;
    transform: scale(1.05);
}

/* Task list */
ul {
    list-style: none;
}

li {
    background: #f8f9fa;
    margin-bottom: 10px;
    padding: 12px 14px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    transition: transform 0.2s ease, opacity 0.2s ease;
    animation: slideIn 0.4s ease;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

/* Buttons */
.actions {
    display: flex;
    gap: 6px;
}

button.complete, button.delete {
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button.complete {
    background: #4caf50;
    color: white;
}

button.complete:hover {
    background: #43a047;
    transform: scale(1.1);
}

button.delete {
    background: #e53935;
    color: white;
}

button.delete:hover {
    background: #c62828;
    transform: scale(1.1);
}

li.removing {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Animations */
@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(-10px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

@keyframes slideIn {
    from { 
        opacity: 0; 
        transform: translateY(10px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}